<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>soecsgrad@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>Nyitsoecs</param-value>
  </context-param>
  <display-name>NYIT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaseController</display-name>
    <servlet-name>BaseController</servlet-name>
    <servlet-class>org.Nyit.Controller.BaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseController</servlet-name>
    <url-pattern>/base</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampusController</display-name>
    <servlet-name>CampusController</servlet-name>
    <servlet-class>org.Nyit.Controller.CampusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampusController</servlet-name>
    <url-pattern>/campus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.Nyit.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>org.Nyit.Controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajorController</display-name>
    <servlet-name>MajorController</servlet-name>
    <servlet-class>org.Nyit.Controller.MajorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorController</servlet-name>
    <url-pattern>/major</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampusSubjectMappingController</display-name>
    <servlet-name>CampusSubjectMappingController</servlet-name>
    <servlet-class>org.Nyit.Controller.CampusSubjectMappingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampusSubjectMappingController</servlet-name>
    <url-pattern>/campussubjectmapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>org.Nyit.Controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectionController</display-name>
    <servlet-name>SectionController</servlet-name>
    <servlet-class>org.Nyit.Controller.SectionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectionController</servlet-name>
    <url-pattern>/section</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectionSubjectMappingController</display-name>
    <servlet-name>SectionSubjectMappingController</servlet-name>
    <servlet-class>org.Nyit.Controller.SectionSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectionSubjectMappingController</servlet-name>
    <url-pattern>/sectionsubjectmapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampusScheduleController</display-name>
    <servlet-name>CampusScheduleController</servlet-name>
    <servlet-class>org.Nyit.Controller.CampusScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampusScheduleController</servlet-name>
    <url-pattern>/campusschedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampusSectionSeatEvaluationController</display-name>
    <servlet-name>CampusSectionSeatEvaluationController</servlet-name>
    <servlet-class>org.Nyit.Controller.CampusSectionSeatEvaluationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampusSectionSeatEvaluationController</servlet-name>
    <url-pattern>/campussectionseatevaluation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>org.Nyit.Controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRequestController</display-name>
    <servlet-name>StudentRequestController</servlet-name>
    <servlet-class>org.Nyit.Controller.StudentRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRequestController</servlet-name>
    <url-pattern>/studentrequest</url-pattern>
  </servlet-mapping>
</web-app>